* {
    /* font-family: helveticaNeue; */
    /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
      font-family: Arial, Helvetica, sans-serif;

}

.bg-navBlue {
    background-color: #1C3D69;
}

.text-navBlue {
    color: #1C3D69;
}

.barlow-medium{
    font-family: Barlow-medium;
}

.helvetica-regular{
    font-family: helveticaNeueRegular;
}

.helvetica-medium{
    font-family: helveticaNeueMedium;
}
/* anti scroll when they click android menu */
.noscroll {
  overflow: hidden;
}


/* Font's =================================== */

/* Font Helvetica Neue MEDIUM */
@font-face {
  font-family: 'helveticaNeueMedium';
  src: url('/assets/fonts/HelveticaNeueMedium.otf') format('opentype');
  font-weight: bold; 
  font-style: normal;
}
